pytz==2022.6
requests==2.31.0
dnspython==2.2.1
backoff==2.2.1
Jinja2==3.1.2
subresource-integrity==0.2
boto3==1.26.10
httpx==0.23.0
httpx[http2]==0.23.0
httpx[brotli]==0.23.0
httpcore[http2]==0.15.0
