{% extends "_primary.html" %}
{% block content %}
  <a href="#" onclick="history.back();" class="back">Back</a>
  <h2>{{ res["domain"] }}</h2>
  <p>URL: {{ makeLink(res["url"])|safe }}</p>
  <p>Scanned: {{ updated_at }}</p>
  <p>Status: {{ res["status_code"] }}</p>
  <p>Scheme:
  {% if res["sectxt_type"] == 3 or res["sectxt_type"] == 4 -%}
    http <i class="fas fa-lock-open" aria-hidden="true"></i>
  {% elif res["sectxt_type"] == 1 or res["sectxt_type"] == 2 -%}
    https <i class="fas fa-lock" aria-hidden="true"></i>
  {% endif -%}
  </p>

  <p>
    Has a contact: {{ pb(res["has_contact"]) }}
  {% if res["has_contact"] -%}
    <i class="fas fa-check" aria-hidden="true"></i>
    </p>
    <div>
      <p>Contacts:</p>
      <ul>
        {% for x in res["items"]["Contact"] %}
          <li>{{ makeLink(x)|safe }}</li>
        {% endfor %}
      </ul>
    </div>

    {% if res["items"]["Policy"]|length > 0 -%}
      <div>
        <p>Policy:</p>
        <ul>
          {% for x in res["items"]["Policy"] %}
            <li>{{ makeLink(x)|safe }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif -%}

    <p>Minimal version: <pre>{{ res["min_text"] }}</pre></p>
  {% else -%}
    <i class="fas fa-times" aria-hidden="true"></i>
    </p>
  {% endif -%}

  {% if res["full_text"] -%}
    <p>Full version: <pre>{{ res["full_text"] }}</pre></p>
  {% endif -%}

  <div class="updated_at">
    Updated at: {{ updated_at }}
  </div>
{% endblock %}
