{% extends "_primary.html" %}
{% block content %}
<div>
  <div>
    <div class="btn-cgrp" role="group">
      <span class="btn alert-info">Top {{ total }} sites in {{ country }}</span>
      <span class="btn alert-success">{{ has_contacts }} <i class="fas fa-check" aria-hidden="true"></i> ({{ '{0:0.1f}'.format((has_contacts/total)*100) }}%)</span>
      <span class="btn alert-danger">{{ no_contacts }} <i class="fas fa-times" aria-hidden="true"></i> ({{ '{0:0.1f}'.format((no_contacts/total)*100) }}%)</span>
      <span class="btn alert-info">{{ updated_at_short }}</span>
    </div>
  </div>

  <div>
    <p>A security.txt file is a way for websites to show how security researchers can get in contact and whether there is any bug bountry or vulnerability disclosure policy.</p>
    <p>This website scans the top {{ total }} sites daily (you are viewing top sites in {{ country }} currently) for their security.txt file and parses it.<br>
	    You can also <a href="/query">query</a> any website to see if there is a security.txt file and whether it appears to be formatted correctly.</p>
    <p>You can find more about the security.txt file and the RFC status on <a href="https://securitytxt.org">securitytxt.org</a></p>
  </div>

  <div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="only_valid" onclick="javascript:window.location.href='/{{ country_short_code }}{{ '' if only_valid else '-only-valid' }}';">
      <label class="form-check-label" for="only_valid">
        {{ 'Show all top sites' if only_valid else 'Show only top sites with a valid looking security.txt' }}
      </label>
    </div>
  </div>

  <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Domain</th>
        <th class="hide_medium">Status</th>
        <th class="hide_small">Looks valid</th>
        <th class="hide_medium">Scheme</th>
      </tr>
    </thead>
    <tbody>
      {% for n in results|sort(attribute='top_index') %}
        {% if n["domain"] -%}
          {% if not only_valid or (only_valid and n['has_contact']) -%}
          <tr class="{{ 'has_contact' if n['has_contact'] else 'no_contact' }}">
            <td>{{ n["top_index"] }}</td>

            {% if n["has_contact"] -%}
              <td><a href="/top/{{ n['domain'] }}">{{ n["domain"] }} (view details)</a></td>
            {% else -%}
              <td>{{ n["domain"] }}</td>
            {% endif -%}

            <td class="hide_medium">{{ n["status_code"] }}</td>

            {% if n["has_contact"] -%}

              <td class="hide_small">
                {% if not n["valid_content_type"] -%}
                  <span title="content type looks wrong"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% elif n["sectxt_type"] == 2 -%}
                  <span title="not in .well-known"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% elif n["sectxt_type"] == 3 or n["sectxt_type"] == 4 -%}
                  <span title="not served using https"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% else -%}
                  <i class="fas fa-check" aria-hidden="true"></i> Yes
                {% endif -%}
              </td>

              {% if n["sectxt_type"] == 3 or n["sectxt_type"] == 4 -%}
                <td class="hide_medium"><i class="fas fa-lock-open" aria-hidden="true"></i> http</td>
              {% elif n["sectxt_type"] == 1 or n["sectxt_type"] == 2 -%}
                <td class="hide_medium"><i class="fas fa-lock" aria-hidden="true"></i> https</td>
              {% endif -%}

            {% else -%}

              <td class="hide_small"><i class="fas fa-times" aria-hidden="true"></i> Not found</td>
              <td class="hide_medium">&nbsp;</td>

            {% endif -%}
          </tr>
          {% endif -%}
        {% endif -%}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>#</th>
        <th>Domain</th>
        <th class="hide_medium">Status</th>
        <th class="hide_small">Looks valid</th>
        <th class="hide_medium">Scheme</th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="updated_at">
  Updated at: {{ updated_at }}
</div>
{% endblock %}
