{% extends "_primary.html" %}
{% block content %}
<div>

  <h1>findsecuritycontacts.com</h1>

  <div>
    <div class="btn-cgrp" role="group">
      <span class="btn alert-info">Top {{ total }} sites in {{ country }}</span>
      <span class="btn alert-success">{{ has_contacts }} <i class="fas fa-check" aria-hidden="true"></i> ({{ '{0:0.1f}'.format((has_contacts/total)*100) }}%)</span>
      <span class="btn alert-danger">{{ no_contacts }} <i class="fas fa-times" aria-hidden="true"></i> ({{ '{0:0.1f}'.format((no_contacts/total)*100) }}%)</span>
      <span class="btn alert-info">{{ updated_at_short }}</span>
    </div>
  </div>

  <div>
    <h2>What is a security contact?</h2>
    <p>A security contact is a way for websites or services to sign post where and how security researchers can get in contact. It also typically describes whether there is any vulnerability disclosure policy or bug bounty.</p>
    <p>There are two methods to set security contacts, with a security.txt file served on a known path and with DNS TXT records.</p>
    <p><strong>findsecuritycontacts.com</strong> scans the top {{ total }} sites daily (you are viewing top sites in {{ country }} currently) for their security.txt file or DNS records.<br>
	    You can also <a href="/query">query</a> any website to see if there is a security.txt file or DNS records and whether they appear to be formatted correctly.</p>
    <p>You can find more about the <strong>security.txt</strong> file and the RFC status on <a href="https://securitytxt.org">securitytxt.org</a>; and about <strong>DNS security records</strong> and the status on <a href="https://dnssecuritytxt.org/">dnssecuritytxt.org</a></p>
  </div>

  <div class="validDiv">
    <a class="btn btn-dark btn-sm" href="/{{ country_short_code }}{{ '' if only_valid else '-only-valid' }}" role="button">
      {{ 'Show all top sites' if only_valid else 'Show only top sites with a valid security contact' }}
    </a>
  </div>

  <table class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Domain</th>
        <th class="hide_medium">Status</th>
        <th class="hide_small">Looks valid</th>
        <th class="hide_medium">Scheme</th>
      </tr>
    </thead>
    <tbody>
      {% for n in results|sort(attribute='top_index') %}
        {% if n["target"] -%}
          {% if not only_valid or (only_valid and n['has_contact']) -%}
          <tr class="{{ 'has_contact' if n['has_contact'] else 'no_contact' }}">
            <td>{{ n["top_index"] }}</td>

            {% if n["has_contact"] -%}
              <td><a href="/top/{{ n['target'] }}">{{ n["target"] }} (view details)</a></td>
            {% else -%}
              <td>{{ n["target"] }}</td>
            {% endif -%}

            <td class="hide_medium">{{ res["http_security_txt"]["status_code"] if "http_security_txt" in res and "status_code" in res["http_security_txt"] else "Not found" }}</td>

            {% if "http_security_txt" in res and "has_contact" in res["http_security_txt"] and res["http_security_txt"]["has_contact"] -%}

              <td class="hide_small">
                {% if not res["http_security_txt"]["valid_content_type"] -%}
                  <span title="content type looks wrong"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% elif res["http_security_txt"]["type"].endswith('root') -%}
                  <span title="not in .well-known"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% elif res["http_security_txt"]["type"].startswith('http_') -%}
                  <span title="not served using https"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% elif not res["http_security_txt"]["valid_https"] -%}
                  <span title="redirect not served using https"><i class="fas fa-info-circle" aria-hidden="true"></i> Kinda </span>
                {% else -%}
                  <i class="fas fa-check" aria-hidden="true"></i> Yes
                {% endif -%}
              </td>

							{% if res["http_security_txt"]["valid_https"] -%}
                <td class="hide_medium"><i class="fas fa-lock" aria-hidden="true"></i> https</td>
				      {% else -%}
                <td class="hide_medium"><i class="fas fa-lock-open" aria-hidden="true"></i> http</td>
				      {% endif -%}

            {% else -%}

              <td class="hide_small"><i class="fas fa-times" aria-hidden="true"></i></td>
              <td class="hide_medium">&nbsp;</td>

            {% endif -%}
          </tr>
          {% endif -%}
        {% endif -%}
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>#</th>
        <th>Domain</th>
        <th class="hide_medium">Status</th>
        <th class="hide_small">Looks valid</th>
        <th class="hide_medium">Scheme</th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="updated_at">
  findsecuritycontacts.com last did a crawl for security.txt files and DNS records on the top sites at: {{ updated_at }}
</div>
{% endblock %}
