{% extends "_primary.html" %}
{% block content %}
  <a href="#" onclick="history.back();" class="back">Back</a>
  <h2>Query</h2>
  <p>&nbsp;</p>
  <p>
    <form action="/query" method="get">
      <div class="form-group">
        <label id="lblDom" for="domain">Domain</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="domain" id="domain" aria-describedby="lblDom">
        </div>
      </div>
      <button type="button" class="btn btn-dark">Scan</button>
    </form>
  </p>
{% endblock %}
